@import "styles/variables";
@import "styles/grid";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: $background-primary;
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  color: $text-primary;
  margin: 0;
  padding: 0;
  font-weight: $font-weight-base;
}

.block {
  margin: $gutter-width*3 $gutter-width;
}

.title-main {
  font-size: 3rem;
  color: $text-highlight;
  margin-bottom: $gutter-width;
}

.card {
  background: $background-secondary;
  border: 1px solid $border;
  padding: $gutter-width;
  border-radius: 10px;
  position: relative;

  .amount {
    position: absolute;
    top: $gutter-width;
    right: $gutter-width;
    font-size: 1.4rem;

    .value {
      color: #007000;
      font-size: 2rem;
      font-weight: $font-weight-bold;
      vertical-align: middle;
    }
  }

  .stepper {
    margin-bottom: $gutter-width;
    color: $text-highlight;

    .step {
      margin-right: $gutter-width*1.5;
      display: inline-block;

      .text {
        font-weight: $font-weight-bold;

        span {
          margin-left: $gutter-width/2;
        }
      }
    }
  }

  .content {
    background: $background-primary;
    padding: $gutter-width;
    border-radius: 10px;
    border: 1px solid $border;

    .actions {
      margin-top: $gutter-width*3;
      text-align: right;
    }
  }
}

.input {
  padding: $gutter-width/2 $gutter-width/3;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: $text-primary;
  background: #ffffff;
  border: 1px solid $border;
  border-radius: 3px;
}

.button {
  padding: $gutter-width/2 $gutter-width*2;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  background: #008600;
  display: inline-block;
  border-radius: 5px;
  color: $text-primary-dark-bg;
  cursor: pointer;
  transition: .2s all linear;

  &:hover {
    background: #007000;
  }
}